<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="../static/css/material.min.css">
   <script src="../static/js/material.min.js"></script>
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
 <link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="../static/js/materialize.js"></script>
   <title>Geo-Quantum</title>
  </head>
  <body>
 
          

    	<!-- Always shows a header, even in smaller screens. -->
		
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  	<header class="mdl-layout__header">
    	<div class="mdl-layout__header-row">
  	
     	 <!-- Title -->
      	<span class="mdl-layout-title">Who Is Who In Myanmar</span>
      	<!-- Add spacer, to align navigation to the right -->
      	<div class="mdl-layout-spacer"></div>
     	<!-- Navigation. We hide it in small screens. -->
	
      	<nav class="mdl-navigation mdl-layout--large-screen-only right">
        	<a class="mdl-navigation__link" href="political.html">POLITICAL</a>
        	<a class="mdl-navigation__link" href="writer.html">AUTHORS</a>
        	<a class="mdl-navigation__link" href="man.html">BUSINESS LEADERS</a>
			<a class="mdl-navigation__link" href="actor.html">CELEBRITIES</a>
			<a class="mdl-navigation__link" href="designer.html">DESIGNER</a>
			
      	</nav>
    </div>
	</header>
  	<div class="mdl-layout__drawer">
    	<span class="mdl-layout-title">Information</span>
    	<nav class="mdl-navigation">
      	
      	<a class="mdl-navigation__link" href="political.html">POLITICAL</a>
      	<a class="mdl-navigation__link" href="writer.html">AUTHORS </a>
		<a class="mdl-navigation__link" href="man.html">BUSINESS LEADERS</a>
		<a
        <a class="mdl-navigation__link" href="actor.html">CELEBRITIES</a>
		<a class="mdl-navigation__link" href="designer.html">DESIGNER</a>
  	</nav>
	</div>
	
  	<main class="mdl-layout__content"><div class="page-content"><!-- Your content goes here -->
	 <div class="col s12 m7">
    <h2 class="header">Have a good day!</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="../static/images/people.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>This is a very simple application for people in Myanmar. Our app name is "How Is Who In Myanmar. This app is for many people who knows about famous and celebrity people in Myanmar. We are good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <p>Welcome!</p>
		  <p>so glad you're here</p><br>
		  
        </div>
      </div>
    </div>
  </div>
	
	
	</div>



	<footer class="mdl-mega-footer">
  <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <div class="mdl-logo">Team Biography:</div>
		  <ul class="mdl-mini-footer__link-list">
          <li><p class="orange-text text-lighten-3">Team name is Geo-Quantum(Mandalay).Team Director is U Ravi Chhabra(GMIT Co.Ltd).Team supervisor name is Daw Zar Zar Hnin from UCS(MDY).</p></li>
		  </ul></br>
		   <div class="col l6 s12">
			 <div class="footer-copyright">
			<div class="mdl-logo">Design By:</div>
			<div class="col"><a class="orange-text text-lighten-3" href="https://github.com/Quantum-Mdy-Geo">Geo-Quantum(Mdy)</a></div></br>
			
			</br>  <div class="mdl-logo">Contact Us</div>
			  <div class="col">
				<li> <a class="orange-text text-lighten-3" href="https://web.facebook.com/profile.php?id=100025431038769&lst=100006833352888%3A100025431038769%3A1533108320&sk=about">Aye Su Mon</a></li>
				<li><a class="orange-text text-lighten-3" href="https://web.facebook.com/ma.meme.773">Sein Nu Htwe</a></li>
				<li><a class="orange-text text-lighten-3" href="https://web.facebook.com/cherub.khinphyo">Khin Phyo Thin</a></li>
				<li><a class="orange-text text-lighten-3" href="https://web.facebook.com/aye.eiphyu.397">Aye Ei Phyu</a></li>
				<li><a class="orange-text text-lighten-3" href="https://web.facebook.com/profile.php?id=100009790780510">Hmawe Hmawe Kyaing</a></li></br>
			</div>	</br></br>
	
       
	</div>
  </footer>
  	</main>
	</div>
    
  </body>
</html>